#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#boutonConnection {
    background-color: #2b2b2b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#boutonConnection:hover {
    background-color: white;
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
}

#boutonFormulaire {
    background-color: #2b2b2b;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49.7%;
}
#boutonFormulaire:hover {
    background-color: white;
    color: #2b2b2b;
    border: 1px solid #2b2b2b;
}
