body{ 

    background-image : url("img/parquet.JPG");
    background-attachment: fixed; 

}

#p2{
	font-size : 20px ;
	text-align: justify;
}

td{
	font-size: 17px;
}

h1{
	text-align: center;
}

#td1,#td3,#td11,#td12{
	text-align: center;
}

#td2,#td4,#td5,#td6,#td7,#td8,#td9,#td10{
	text-align: right;
}

table, tr, td {
	border: 1px solid black;
	
}

table {
	width: 100%;
}

#p1{
	font-size: 13px;
}

#p3{
	font-size: 19px;
}