
@font-face
{
    font-family: 'Starjout';
    src:
         url('polices/Outrunfuture.otf') ;
    font-weight: normal;
    font-style: normal;
}

body
{
    background: url('img/background.jpg') no-repeat;
	background-size : cover ;
	background-position: center center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: 'Starjout', serif;
    font-weight: normal;
    text-transform: uppercase;
}


header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
	font-family : 'Starjout';
    display: flex;
	font-style: oblique ;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 120px;
    height: 120px;
}

header h1
{
    font-family: 'Starjout';
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: 'Starjout', ;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}




nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 21px	;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0032ff ;
    border-bottom: 3px solid #0032ff;
}



#banniere_image
{	
	z-index: -1;
    margin-top: 15px;
    height: 250px;
    border-radius: 5px;
    background: url('img/banniere.jpg') ;
    position: relative;
    box-shadow: 0px 4px 4px black;
    margin-bottom: 25px;
	background-size:900px 300px;
	
}

#banniere_description
{
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: Lime;
    font-size: 13px;
    
}





section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-left: 20px;
    flex: 3;
}

article p
{
    font-size: 0.9em;
}
article ul
{
	font-size: 0.8em;
}
aside
{
	
    flex: 1.3;
    position: relative;
    background: url('couleurautre.jpg') ;
    box-shadow: 10px 5px 5px 5px  black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
	list-style-type: circle ;
    text-decoration: none;
	line-height:250%;
	margin-bottom : 100px ;
  
}
aside a 
{ text-decoration: none;
  color : white ;
}

aside a:hover
{ color: #0032ff ;
  border-bottom: 3px solid #0032ff;
}






footer
{
    display: flex;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}




#Site 
{
	
    color : silver;
    width: 50%;
	margin-left : 50px
}
site a
{
	text-decoration: none;
	color : white ;
}

#Sitecomplement
{
	color : silver ;
    width: 50%;
}


#listesite
{

	padding-left: 2px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#menu a { 
	display:block; 
	color: #fff; 
	text-decoration:none;
}
#menu > li,
#menu > li li {
	position: relative;
	display:inline-block;
	width: 110px;
	padding: 6px 15px;
	background-color: #777;
	background-image: linear-gradient(#aaa, #888 50%, #777 50%,#999);
}
#menu > li li { background: transparent none; }
#menu > li li a { color: #444; }
#menu > li li:hover { background:#eee; }
#menu > li:first-child {
	border-right: 1px solid #777;
	border-radius: 8px 0 0 8px;
}
#menu > li + li {
	border-left: 1px solid #aaa;
	border-right: 1px solid #777;
}
#menu > li:last-child {
	border-right: 0;
	border-left: 1px solid #aaa;
	border-radius: 0 8px 8px 0 ;
}
#menu > li:hover {
	background-color: #999;
	background-image: linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
}

#menu ul {
	position: absolute;
	top: 2em; left: 0;
	max-height:0em;	
	margin: 0; padding: 0;
	background-color: #ddd;
	background-image: linear-gradient(#fff,#ddd);
	overflow: hidden;
	transition: 1s max-height 0.3s;
	border-radius: 0 0 8px 8px;
}

#menu > li:hover ul {
	max-height: 30em;
}